<div id="header">
    <h1>Welcome!</h1>
</div>

<main>
<br><br><br>

<div id="page1">
  <center><font color="white">Welcome to our student scheduler app.</font></center>
  <br><br>
  <a href="#" id="catalog" class="btn-big-green">Course Catalog</a>
  <center>
  <div id="addDropResult"></div>
  <div id="jsonTable"></div>
  </center>
</div>
  
<div id="page2" style="display:none;">
  <center>
    <a href="#" class="btn-big-green">View schedule</a>
  </center>
</div>
  
<div id="page3" style="display:none;">
  <center>
    <a href="#" class="btn-big-green" onclick="showpage(5)">View progress</a>
  </center>
</div>
  
<div id="page4" style="display:none;">
  <font color="white">Pre-requisite checker</font>
  <br><br>
  <select id="course-dropdown">
        <option value="0">I.T. Core</option>
        <option value="1">MATH 175 - ELEMENTARY STATISTICS</option>
        <option value="2">MATH 180 - COLLEGE ALGEBRA</option>
        <option value="3">CMPS 160 - DATABASES</option>
        <option value="4">CMPS 161 - NETWORKING AND SECURITY</option>
        <option value="5">CMPS 162 - INTRODUCTION TO PROGRAMMING</option>
        <option value="6">CMPS 163 - BUSINESS ANALYTICS</option>
        <option value="7">CMPS 260 - DATA STRUCTURES</option>
        <option value="8">CMPS 261 - SERVER MANAGEMENT</option>
        <option value="9">CMPS 262 - ADVANCED PROGRAMMING</option>
        <option value="10">CMPS 480 - SENIOR PROJECT</option>
  </select>
  <span id="choice"></span>
  <br><br>
    <center>
      
    </center>
</div>

<div id="page5" style="display:none;">

 <center>
    <a href="#" class="btn-big-green" onclick="showpage(5)">View progress</a>
  </center>

<br>

<div class="container">
  <ol class="progress-meter">
    <li class="progress-point done"><font color="white">25%</font></li><li class="progress-point incomplete"><fon color="white">50%</font></li><li class="progress-point incomplete"><font color="white">75%</font></li><li class="progress-point incomplete"><font color="white"Ready For Graduation!</font></li>
  </ol>
</div>

</div>
  
 <!-- nav-right -->
  <nav>
    <div class="nav-right hidden-xs">
      <div class="button" id="btn">
        <div class="bar top"></div>
        <div class="bar middle"></div>
        <div class="bar bottom"></div>
      </div>
    </div>
  </nav>
</main>

<div class="sidebar">
  <ul class="sidebar-list">
    <li class="sidebar-item"><a href="#" class="sidebar-anchor" onclick="showpage(1)">Home</a><li>
    <li class="sidebar-item"><a href="#" class="sidebar-anchor" onclick="showpage(2)">Schedule</a></li>
    <li class="sidebar-item"><a href="#" class="sidebar-anchor" onclick="showpage(3)">Progress</a></li>
  </ul>
</div>
